<?xml version="1.0"?>
<launch>
  <param name="robot_description" textfile="$(find scorbot_pkg)/scorbot_description/urdf/scorbot_urdf.urdf"/>
  <node pkg="scorbot_pkg" type="i2cScorbot_publisher.py" name="scorbot_joint_state_publisher" output="screen">
    <param name="rate" value="1"/>
  </node>
  <node pkg="cv_camera" type="cv_camera_node" name="driver" output="screen"/>
  <node pkg="scorbot_pkg" type="GUI_scorbotpi.py" name="GUI_Scorbot" output="screen"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
