<?xml version="1.0"?>
<launch>
  <param name="robot_description" textfile="$(find scorbot_pkg)/scorbot_description/urdf/scorbot_urdf.urdf"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
  </node>
  <node pkg="cv_camera" type="cv_camera_node" name="driver" output="screen"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen"/>
  <node pkg="scorbot_pkg" type="GUI_scorbotpi.py" name="GUI_Scorbot" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />
</launch>
