<launch>

<node name="serial_node" pkg="rosserial_python" type="serial_node.py">
    <param name="port" type="string" value="/dev/ttyACM0"/>
    </node>

<node respawn="true" pkg="joy" type="joy_node" name="rover_ps3joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
</node>

<node pkg="rover" type="joystick_teleop.py" name="teleop"/>

</launch>
