<launch>

<node name="rosserial" pkg="rosserial_python" type="serial_node.py">
    <param name="port" type="string" value="/dev/ttyACM0"/>
    </node>

<node respawn="true" pkg="joy" type="joy_node" name="ps3joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
</node>

<node pkg="rover" type="ps3joystick_teleop.py" name="ps3teleop"/>

</launch>
